@tailwind base;
@tailwind components;
@tailwind utilities;

.contain-content {
  contain: content
}

.contain-strict {
  contain: strict
}

.gradient-to-b-white-to-transparent {
  background-image: linear-gradient(to bottom, white 80%, transparent)
}
