@tailwind base;
@tailwind components;
@tailwind utilities;

.contain-content {
  contain: content
}

.contain-strict {
  contain: strict
}

.videos-selected [aria-pressed=true],
.videos-selected [aria-pressed=true] span {
  @apply bg-amber-200
}
